
//footer part style

.footer-component {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background-color: #a79b91;
  text-align: center;

  .footer-content{
    color: #fff;

  }
}
