
//login header style

.header-component {
  width: 100%;
  background: #3f4040;
  padding: 0;
  color: #ffffff;
  position: fixed;
  height: 50px;

  .logo {
    background-image: url('/images/pwc/login/PwC_logo.jpg');
    height:100%;
    width: 70px;
    background-repeat: no-repeat;
    float: left;
    position: relative;
  }

  .project-name {
    height:100%;
    font-size: 20px;
    padding: 14px 10px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    float: left;
    position: relative;
  }

}
