//main section login form

.loginform-component {
  position: fixed;
  right: 80px;
  width: 330px;
  top: 284px;

  form {
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;

    h2 {
      font-size: 20px;
      color: #000;
      font-weight: bold;
      margin-top:0;
    }

    .remember-login{
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 10px;
    }

    button{
      width: 100%;
    }
  }
}
