
//login page main style

.login-component{
  background: url("/images/Desktop.jpg") no-repeat center right fixed;
  background-size: cover;
  top: 0px;
  bottom: 0px;
  width: 100%;
  position: absolute;
}
